<div class="text-left">
<h1>Code of Conduct</h1>
<p class="text-left">
KnoxDevs is dedicated to providing an outstanding experience, to increase learning opportunities for all our members, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion.
</p>

<p class="text-left">
We do not tolerate harassment of members in any form, and we would like to take this opportunity to remind all members that KnoxDevs was founded on: passionate, but respectful dialog between our members, for our members. Please treat your fellow members with respect!
</p>

<p class="text-left">
Harassmenti<sup>1</sup> is not appropriate for any group venue. Group members violating these rules may be sanctioned or expelled from the group, at the discretion of the group organizers.
</p>

<p class="text-left">
Members must remember that KnoxDevs organizers and volunteers are not trained conflict resolution specialists, nor are they security or law enforcement. KnoxDevs organizers and volunteers will immediately escalate issues around safety, violence, or similar situations to the Knoxville Police Department.
</p>

<p class="text-left">
For the protection of both members and our organization, KnoxDevs will never put its organizers or volunteers in the position of trying to assess whether or not an incident merits reporting. If there is any doubt, we will report incidents to the Knoxville Police Department immediately.

<h2>Incident Resolution</h2>
<ul>
<li>members should follow the golden rule: “One should treat others as one would like others to treat oneself.” Treat other members with respect.
<li>Simple disagreements should be resolved between the individuals concerned.
<li>Harassment or more serious issues should be escalated to a KnoxDevs organizer. That organizer will immediately contact a KnoxDevs Board member who has the responsibility to assist in resolution.
</ul>

<sup>1</sup> Examples include offensive comments, verbal threats or demands, sexualized images in public spaces, intimidation, stalking, harassing photography or recording, sustained disruption of sessions or events, unwelcome physical contact or sexual attention, and the advocating or encouraging of any of the above behavior.
</div>