<footer>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-inline" style="font-size: 0;"><li>
        <li><a href="https://twitter.com/knoxdevs" class="fa-button twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/knoxdevs" class="fa-button facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://plus.google.com/u/1/113510068597761749491" class="fa-button google-plus"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="https://www.linkedin.com/grp/home?gid=8344834" class="fa-button linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
  <div id="github-call-to-action"><a href="https://github.com/KnoxDevs/knoxdevs-website">Please update me on <img class="emoji" title=":octocat:" alt=":octocat:" src="https://assets.github.com/images/icons/emoji/octocat.png" height="40" width="40"></a></div>
    </div>
  </div>
</footer>
