<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "KnoxDevs", home_path, :class => "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-custom">
                <li class="menu">
                    <%= link_to "Blog Feed", home_path(:anchor => "blog") %>
                </li>
                <li class="menu">
                    <a href="#blogs">Bloggers</a>
                </li>
                <li class="menu">
                    <a href="#companies">Companies</a>
                </li>
                <li class="menu">
                    <a href="#conferences">Conferences</a>
                </li>
                <li class="menu">
                    <a href="#coworking">Coworking</a>
                </li>
                <li class="menu">
                    <a href="#meetups">Meetups</a>
                </li>
                <li class="menu">
                    <%= link_to "Resources", resources_path %>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= if user_signed_in? then link_to "Sign out", destroy_user_session_path, :method => :delete
                  else link_to "Sign in", :new_user_session end %>
              </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->           
    </div>
    <!-- /.container -->
</nav>